{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this email because you requested a password reset 
for your user account at {{ site_name }}.{% endblocktrans %}
<br>
{% trans "Please go to the following page and choose a new password:" %}
<br>
{% block reset_link %}
{{ reset_password_url }}
{% endblock %}
<br>

{% trans "Thanks for using our site!" %}
<br>
{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
<br>
{% endautoescape %}